<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>I am a {{ major }} student at {{ school }}</article>
    <article>My hobby is {{ hobby }}</article>
    <article>I am {{ desc }}</article>
    <br>
    <img src = '{{ image }}' >
</body>
</html>
